<launch>
    <param name="robot_description" textfile="$(find urdf02_gezebo)/urdf/demo01_helloworld.urdf" />
    <include file="$(find gazebo_ros)/launch/empty_world.launch" />
    <node pkg="gazebo_ros" type="spawn_model" name="spawn_model" args="-urdf -model car -param robot_description" />
</launch>