<launch>

    <node pkg="turtlesim" type="turtlesim_node" name="turtlesim" />
    <node pkg="turtlesim" type="turtlesim_node" name="t1" />
    <node pkg="turtlesim" type="turtlesim_node" name="turtlesim" ns="ergouzi" />
    <node pkg="turtlesim" type="turtlesim_node" name="turtlesim" ns="maolvzi" />
</launch>